.active.svelte-1o2b5yq {
  opacity: 1;
}
.active.svelte-1o2b5yq {
  opacity: 1;
}
section.svelte-fb1lux {
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
  font-size: 1.25rem;
  color: black;
  margin: 5em auto;
  white-space: unset;
}
