body {
    background-color: slategray;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: darkslategrey;
    line-height: 24pt;
}
a {
    text-decoration: none;
    color: lightgrey;
}

a:hover {
    color: darkslategrey;
}
.nav{
    list-style: none;
    text-align: center;
    padding: 0 0 5px 0;
    color: lightgrey;
}
.nav > li {
    display: inline-block;
    padding: 0 40px 0 40px;
}

.nav > li > a{
    text-decoration: none;
    color: lightgrey;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.nav > li > a:hover{
    color: darkslategrey;
}

.contact-list {
    display: inline-block;
}

.contact-info {
    font-size: 10px;
    text-align: center;
    /*display: inline-block;*/
}


#email_img{
    width: 25px;
    position:relative;
    right:3px;
    top:8px;
}
#address_img{
    width: 21px;
    position:relative;
    right:2px;
    top:8px;
}
#github_img{
    width: 19px;
    position:relative;
    right:3px;
    top:3px;
}
#google_scholar_img{
    width: 24px;
    position:relative;
    top:6px;
    right:2.5px;
}
#linkedin_img{
    width:19px;
    position:relative;
    top:4px;
    right:3px;
}
#tumblr_img{
    width:22px;
    position: relative;
    top:5px;
    right:2.5px;
}

.email-img {
    width: 44px;
    height: 33px;
    margin-right: 25px;
    margin-top: 8px;
}

.github-img {
    width: 33px; height: 33px;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}