
/*Formatting the Body*/
body{
    background-color: rgb(255, 249, 245);
    font-family: 'Open Sans', sans-serif;
    color: rgb(90,95,100);
    font-size:17px;
    line-height: 24pt;
}

a{
    text-decoration: none;
    color: lightcoral;
}

a:hover{
    color: palevioletred;
}

footer{
    text-align: center;
    padding-top:30px;
    color: lightgray;
    font-size:13px;
    font-family: serif;
}

.art{
    font-family: 'Open Sans', sans-serif;
    color: rgb(90,95,100);
    font-size:17px;
    line-height: 24pt;
}
.art > p > a{
    text-decoration: none;
    color: lightcoral;
}
.art > p > a:hover{
    color: palevioletred;
}

.art > li > a{
    text-decoration: none;
    color: lightcoral;
}
.art > li > a:hover{
    color: palevioletred;
}

.header-img{
    background: url(../images/home-banner.jpg) center no-repeat;
    background-size: 100%;
    padding: 30px 0 0 0;
    text-align:center;
}
/*.face-img{*/
/*    border-style: solid;*/
/*    border-color:white;*/
/*    border-width: 5px;*/
/*    border-height:5px;*/
/*    border-radius:50%;*/
/*    width:130px;*/
/*    padding-bottom: 0;*/
/*}*/
.name{
    color: steelblue;
    padding-bottom: 10px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}
.nav{
    list-style: none;
    text-align: center;
    padding: 0 0 5px 0;
    color: slategray;
}
.nav > li {
    display: inline-block;
    padding: 0 40px 0 40px;
}

.nav > li > a{
    text-decoration: none;
    color: black;
    font-family: 'Fredericka the Great', serif;
    font-size: 17px;
}

.nav > li > a:hover{
    color: whitesmoke;
}

/*.pubs{*/
/*    padding-top: 1px;*/
/*    font-family: 'Open Sans',serif;*/
/*    color: rgb(90,95,100);*/
/*    font-size:17px;*/
/*    line-height: 24pt;*/
/*}*/

/*.pubinfo{*/
/*    color:slategray;*/
/*    font-size:15px;*/
/*}*/

/*.pubs > li > p > a{*/
/*    text-decoration: none;*/
/*    color: lightcoral;*/
/*    font-family: serif;*/
/*    font-size: 15px;*/
/*}*/

/*.pubs > li > p > a:hover{*/
/*    color: palevioletred;*/
/*}*/
/*!*What does div > p mean in CSS?*!*/
/*!*Selects all <p> elements where the parent is a <div> element*!*/
/*.pubs > li > p > span > em > a{*/
/*    text-decoration: none;*/
/*    color: lightcoral;*/
/*    font-family: serif;*/
/*    font-size: 15px;*/
/*}*/
/*.pubs > li > p > span > em > a:hover{*/
/*    color: palevioletred;*/
/*}*/

/*.pubs > li > p > span > b{*/
/*    color:rgb(100,110,120);*/
/*}*/

/*.quote {*/
/*    position: relative;*/
/*    top:15px;*/
/*    background-position: 99% 50%;*/
/*    background-color: mistyrose;*/
/*    margin-left: 3.4%;*/
/*    font-family: 'Open Sans',serif;*/
/*    font-style: italic;*/
/*    font-size:17px;*/
/*    line-height: 24px;*/
/*    color: rgb(90,95,100);*/
/*    border-left-width: 0.5em;*/
/*    border-left-color: lightcoral;*/
/*    border-left-style: solid;*/
/*}*/

/*.quote:before {*/
/*    color: lightcoral;*/
/*    content: '\201C';*/
/*    font-family: serif;*/
/*    font-size: 4em;*/
/*    line-height: 0.1em;*/
/*    vertical-align: -0.4em;*/
/*}*/

/*.ct{*/
/*    text-align: center;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    color: rgb(90,95,100);*/
/*    font-size:17px;*/
/*    line-height: 24pt;*/
/*}*/

/*.ct > a{*/
/*    text-decoration: none;*/
/*    color: lightcoral;*/
/*}*/

/*.ct > a:hover{*/
/*    color: palevioletred;*/
/*}*/

/*.topic{*/
/*    font-family: 'Open Sans',serif;*/
/*    color: rgb(90,95,100);*/
/*    font-size:25px;*/
/*    font-weight: 1000;*/
/*}*/

/*.subtopic{*/
/*    font-family: 'Open Sans',serif;*/
/*    color: rgb(90,95,100);*/
/*    font-size:20px;*/
/*    font-weight: 1000;*/
/*}*/


/*Formatting Images*/

#email_img{
    width: 25px;
    position:relative;
    right:3px;
    top:8px;
}
#address_img{
    width: 21px;
    position:relative;
    right:2px;
    top:8px;
}
#github_img{
    width: 19px;
    position:relative;
    right:3px;
    top:3px;
}
#google_scholar_img{
    width: 24px;
    position:relative;
    top:6px;
    right:2.5px;
}
#linkedin_img{
    width:19px;
    position:relative;
    top:4px;
    right:3px;
}
#tumblr_img{
    width:22px;
    position: relative;
    top:5px;
    right:2.5px;
}


