<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="author" content="Jordan Carson">
      <meta name="keywords" content="jordan carson, jhu, johns hopkins university, ai-ml">
      <meta name="description" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-language" content="en">
<!--      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <link rel="stylesheet" type="text/css" href="../styles/contacts.css">
      <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans&display=swap" rel="stylesheet">
      <title>Jordan Carson</title>
  </head>
<body>
<header>
    <div class="header">
        <!--    <img class="face-img" src="../../images/home-banner.jpg" alt="Jordan Carson">-->
        <h1 class="name" style="text-align: center;font-size: x-large">
            Jordan Carson
        </h1>
        <ul class="nav">
            <li><a href="index.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="../files/Jordan_Carson_CV_05122021.pdf" target="_blank">CV</a></li>
            <li><a href="contact.html">Contact Info</a></li>
            <li><a href="resources.html">Resources</a></li>
        </ul>
    </div>
</header>
<!--<iframe class="spotify-frame" src="https://open.spotify.com/embed/playlist/1eUgYfIAR5Z7uMLNWBUpB2" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->

<!--<div class="top-nav">-->
<!--    <a href="index.html" class="home-nav">Home</a>-->
<!--    <a href="#about">About</a>-->
<!--    <a href="#CV" class="cv-nav">CV/Resume</a>-->
<!--    <a href="contact.html" class="contact-nav">Contact</a>-->
<!--    &lt;!&ndash;            Centered Navigation&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="topnav-centered">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <a href="" class=""&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;            Left Navigation&ndash;&gt;-->
<!--    &lt;!&ndash;            Right navigation&ndash;&gt;-->
<!--    <div class="top-nav-right">-->
<!--        <a href="#news">Environments</a>-->
<!--        <a href="#news">Toys</a>-->
<!--        &lt;!&ndash;                <a href="#search">Search</a>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->

  <article>
      <div class="contact-list">
            <ul>
                <li><p><a href="mailto:jordanlouiscarson@gmail.com" target="_blank"><img alt="email-link" src="../images/email.png" id="email_img"></a>jordanlouiscarson@gmail.com</p></li>
                <li><p><a href="https://github.com/jordan-carson" target="_blank"><img src="../images/github-dark.png" alt="github-pic" sizes="10px" id="github_img"></a></p></li>
                <li><p><a href="https://www.linkedin.com/in/jordan-carson/" target="_blank"><img src="../images/linkedin.png" alt="linkedin-pic" id="linkedin_img"/></a></p></li>
            </ul>
<!--              <p><a href="https://goo.gl/maps/dTwRurfi7G4BwvuKA" target="_blank"><img src="images/address.png" id="address_img"></a>-->
<!--              <span style="text-align: center;padding-left: 10px">21 Daniel Court<br></span>-->
<!--                  <span style="text-align: center;padding-left: 10px">Westport, CT 06880<br></span>-->
<!--              </p>-->
      </div>
  </article>
  <div class=contact-info>
      <p style="text-align:center">

      </p>
<!--      <a href="https://github.com/jordan-carson" target="_blank"><img src="../../images/github-light.png" id="github_img" alt="Github Link">Github</a>-->
<!--      <a href="https://scholar.google.com/citations?user=QUbIShAAAAAJ&hl=en" target="_blank"><img alt="google scholar link" src="" id="google_scholar_img">Google Scholar</a> |-->
<!--      <a href="https://www.linkedin.com/in/xuan-zhang-19940216/" target="_blank"><img src="" id="linkedin_img">LinkedIn</a> |-->
<!--      <a href="https://xuanzhang216.tumblr.com/" target="_blank"><img src="" id="tumblr_img">Tumblr</a>-->
  </div>

</body>

</html>