<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="author" content="Jordan Carson">
        <meta name="keywords" content="jordan carson, jhu, johns hopkins university, ai-ml">
        <meta name="description" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-language" content="en">
        <!--      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">-->
        <!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
<!--        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans&display=swap" rel="stylesheet">-->
        <title>Jordan Carson</title>
    </head>

    <body>
    <header>
        <div class="header">
            <!--    <img class="face-img" src="../../images/home-banner.jpg" alt="Jordan Carson">-->
            <h1 class="name" style="text-align: center;font-size: x-large">
                Jordan Carson
            </h1>
            <ul class="nav">
                <li><a href="index.html">About</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="../files/Jordan_Carson_CV_05122021.pdf" target="_blank">CV</a></li>
                <li><a href="contact.html">Contact Info</a></li>
                <li><a href="resources.html">Resources</a></li>
            </ul>
        </div>
    </header>



<!--        <div class="top-nav">-->
<!--            <div class="top-nav-left">-->
<!--                <a href="index.html" class="home-nav">Home</a>-->
<!--                <a href="#about">About</a>-->
<!--                <a href="#CV" class="cv-nav">CV/Resume</a>-->
<!--                <a href="contact.html" class="contact-nav">Contact</a>-->
<!--            </div>-->

<!--&lt;!&ndash;            Centered Navigation&ndash;&gt;-->
<!--            <div class="topnav-centered">-->
<!--&lt;!&ndash;                <a href="" class=""&ndash;&gt;-->
<!--            </div>-->
<!--&lt;!&ndash;            Left Navigation&ndash;&gt;-->
<!--&lt;!&ndash;            Right navigation&ndash;&gt;-->
<!--            <div class="top-nav-right">-->
<!--                <a href="#news">Environments</a>-->
<!--                <a href="#news">Toys</a>-->
<!--&lt;!&ndash;                <a href="#search">Search</a>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

        <div class="bio-div" style="padding-left:16px">
<!-- TODO: We want to add an img for Jordan, as well as images to LinkedIn, Github, Personal Website, Instagram           -->
            <img class="face-img" src="NOT AVAILABLE" alt="Jordan Carson">
            <h1 class="name" style="font-size: x-large">Jordan Carson</h1>
            <p>I am a Data Science Masters student at Johns Hopkins University, where I am fortunate to be advised by Tony Johnson.</p>
            <p>Before that, I received my B.A. in Economics from Hobart & William Smith Colleges.</p>
            <p>I currently am a Data Engineer on the Global Client Analytics Team at BNP Paribas. </p>

            <!--            <p>Resize the browser window to see the responsive effect.</p>-->
        </div>
    </body>

    <div class="white-space" style="margin-top: 31em;margin-bottom: 31em"></div>
    <footer style="text-align: center;font-size: x-small">
        &copy; Copyright 2021 Jordan Carson.
    </footer>
</html>
