<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Jordan Carson">
  <meta name="keywords" content="jordan carson, jhu, johns hopkins university, ai-ml">
  <meta name="description" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-language" content="en">
  <!--      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">-->
  <!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" type="text/css" href="../styles/projects.css">
  <!--        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans&display=swap" rel="stylesheet">-->
  <title>Jordan Carson</title>
</head>
<header>
  <div class="header">
<!--    <img class="face-img" src="../../images/home-banner.jpg" alt="Jordan Carson">-->
    <h1 class="name" style="text-align: center;font-size: x-large">
      Jordan Carson
    </h1>
    <ul class="nav">
      <li><a href="index.html">About</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="../files/Jordan_Carson_CV_05122021.pdf" target="_blank">CV</a></li>
      <li><a href="contact.html">Contact Info</a></li>
      <li><a href="resources.html">Resources</a></li>
    </ul>
  </div>
</header>

<body>

</body>
</html>